<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apt.bdo.it</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>it-miweb01.bdo.priv</MSDeployServiceURL>
    <DeployIisAppPath>APTManagement</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>BDOITALIA\adminjrr</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Db_APT_ArchEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=it-misql01\BDOITALIA;Initial Catalog=Db_APT_Arch;Persist Security Info=True;User ID=sa;Password=8bkyruxUOqwPVJe" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="APT_ArchV03.Models.Db_APT_ArchEntities, APT_ArchV03" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Db_APT_ArchEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=it-misql01\BDOITALIA;Initial Catalog=Db_APT_Arch;Persist Security Info=True;User ID=sa;Password=8bkyruxUOqwPVJe"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>