@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This platform has been created to manage three stages of APT's CAW file lifecycle. All authorized users can create and query APT's CAW file information and address consultation requests.<br />
    If you need to access to the platform use our @Html.ActionLink("Contact form", "Contact", new {selection = "access" }) to file your request.  
</p>

<style>
    .loader {
        display: none;
    }
</style>
