.vertical {
    display: inline-block;
    margin: 10px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
#btn-container {
    padding: 10px 0;
    overflow: hidden;
    height: 63px;
}
.stage {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 10px;
}

.stage0 {
    background: #f1f1f1;
}
.stage1 {
    background: #22409a;
}

.stage2 {
    background: #df8639;
}

.stage3 {
    background: #009E60;
}

.stage4 {
    background: #ed1a3b;
}
#CAWList #tbldtcawname, #CAWList #tbldtcawclient {
    max-width: 250px;
    word-wrap: break-word;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
a[data-title="drpbutton"][disabled="disabled"] {
    cursor: not-allowed;
}
.ui-menu {
    z-index: 30000 !important;
}
.borderless .list-group-item {
    border: none !important;
}
.icon-groove {
    /*content: url(/Backload/ContentTypes/16/groove.png)*/
    background: url(/Backload/ContentTypes/16/groove.png) 0 0 / 16px auto no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}
/**********************Filter layout***********************/
.filter-title {
    outline: none;
    width: 100px;
    background: none;
    color: #333;
    border: none;
    float: right;
    text-align: right;
}
.ui-state-active .ui-icon {
    background-image: url(images/ui-icons_555555_256x240.png);
}
.filter-content {
    border: none;
}
#block-filter {
    /*position: absolute;
    z-index: 100;*/
}
.filter-content {
    position: absolute;
    z-index: 100;
    margin-top: 45px;
}
.glyphicon {
    line-height: 20px;
}
button#btnclearfilters.disabled {
    display: none;
}

.max-lentght-200 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}