<?xml version="1.0"?>

<!-- For the Custom Events demo we enable server side events -->
<!-- For the Tracing demo you need to enable tracing here and in Web.config -->
<backload eventing="true" tracing="false" deleteUrlPattern="{Backload}{query:all}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd" getInclSubFolders="true" >

  <!-- Sets the root upload folder internal and external path example (default: ~/Files) -->
  <!--<fileSystem filesRoot="~/Uploads" />-->
  <!--<fileSystem filesRoot="\\bdo.priv\apt\MI" chunkPathPrefix="~/Uploads" />-->
  <fileSystem filesRoot="E:\APTArch" />
  <!--<fileSystem virtualDirectory="~/APT/" />-->

  <!-- Examples for external file storage. "Uploads" is the IIS virtual path name -->
  <!-- <fileSystem filesRoot="z:\Uploads\" virtualDirectory="Uploads" -->
  <!-- <fileSystem filesRoot="\\FileServer\Files\" virtualDirectory="Uploads" -->
  <thumbnails width="80" path="_thumbs" store="true" />
  <contentTypes thumbnailPath="~/Backload/ContentTypes" thumbnailSize="48" useThumbnailCanvas="true">
    <add name="APTfile" extFragment=".gsa" typeFragment="application/gsa" thumbnail="groove.png"/>
  </contentTypes>
  <license licensee="fornitori@bdo.it" licenseKey="EFD2931D-2CC9-21D2-C5D1-B12446945717" />
</backload>
